*.out
*~
\#*\#
experiments/*
documents/
*.zip
.ssh
\#*.*\#
.*.swp
.DS_[Ss]tore
*.o
Output*
output*
*.bak

*.txt
*.prog
exercise
.metadata/
RemoteSystemsTempFiles/
.cproject
.project
.settings/
Debug_with_Linux_GCC_remote/
